.root {
  .settings {
    display: flex;
    justify-content: space-between;
  }

  .list {
    li {
      padding-left: 0;

      .trash {
        margin-left: 20px;
        cursor: pointer;
      }
    }
    .link {
      text-decoration: none;

      &:hover {
        color: var(--mainColor);
      }
    }
  }
}
