.root {
  padding: 20px;
  height: 100dvh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .form {
    padding: 20px;

    display: flex;
    flex-direction: column;
  }

  .input {
    margin: 10px 0;
  }

  .buttons {
    display: flex;

    .button {
      width: 100%;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
